// ==========================================================================
// Quoter
// ==========================================================================
body {
  background-color: $superlight;
  display: flex;
min-height: 100vh;
flex-direction: column;
}
header, main, footer {
    flex-shrink: 0;
}
main{
	flex:1;
}

.header {
  .progress {
    &__wrapper {
      @extend .d-none;
      @include mq(md) {
        flex: 1;
        display: flex !important;
        justify-content: center;
      }
    }
    &__tracker {
      @extend .w-100;
      @extend .mb-0;
      @extend .mt-3;
      @extend .progress-tracker--word;
      @extend .progress-tracker--word-center;
      max-width: 326px;
    }
	  &__title{
		   @include font-size(0.8rem);
	  }
  }

  .progress-step.is-active .progress-marker {
    background-color: $brand;
  }
  .progress-step.is-complete .progress-marker {
    background-color: lighten($brand, 35%);
  }
  .progress-step .progress-marker {
    background-color: $light;
  }

  .progress-marker {
    width: 12px !important;
    height: 12px !important;
  }
  .progress-step:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    top: 5px;
    bottom: 12px;
    right: 0;
    width: 100%;
    height: 3px;
    transition: background-color 0.3s;
  }
  .progress-step::after {
    background-color: $light;
  }
  .progress-step.is-complete::after {
    background-color: lighten($brand, 35%);
  }

  .progress-tracker--word .progress-text {
    line-height: 0;
    text-transform: uppercase;
  }
  .progress-tracker--word-center .progress-text {
    transform: translateX(calc(-50% + 7px));
    padding: 14px 9.3333333333px !important;
  }
}
.hero {
  @extend .pb-4;
  &--start & {
    &__row {
      @extend .text-center;
      @extend .d-block;
    }
    &__column {
      @extend .col-lg-8;
      @extend .offset-lg-2;
      p {
        max-width: 500px;
        @extend .mx-auto;
      }
    }
  }
  &__button {
    @extend .btn;
    @extend .btn-secondary;
    @extend .d-md-none;
    &-filter {
      @extend .fas;
      @extend .fa-filter;
    }
    &-info {
      @extend .fas;
      @extend .fa-info-circle;
    }
  }
  &--start {
    @extend .col-md-12;
  }
}
.main {
  @extend .py-5;
  @extend .container;
  &__inner {
    @extend .row;
    @extend .align-items-start;
  }
}
.back-link {
  &:before {
    @extend .fas;
    @extend .fa-long-arrow-alt-left;
    @extend .mr-3;
  }
}
.quote {
  @extend .col-md-12;
  &__form {
    @extend .card;
  }
  .form {
    &__submit {
      @extend .mx-auto;
      @extend .d-block;
    }
  }
}
.article {
  @extend .col-md-9;
	@extend .order-2;
}
.aside {
	@extend .order-1;
  @extend .navbar-expand-md;
  flex-flow: wrap !important;
  @extend .col-md-3;
	@include mq(md) {
        position: -webkit-sticky;
		position: sticky;
		top:100px;
          }
  &__plan {
    &-name {
      @extend .results__plan-name;
      @extend .mt-3;
      @extend .text-left;
    }
    &-price {
      @extend .results__plan-price;
    }
    &-logo {
      @extend .results__plan-logo;
    }
    &-freq {
      @extend .results__plan-freq;
    }
  }
  &__inner {
    .progress {
      height: 8px;
      background-color: $light !important;
      &__bar {
        @extend .progress-bar;
        background-color: $brand !important;
      }
      &__label {
        @extend .font-weight-bold;
		@include font-size($font-size-base);
      }
      &__wrapper {
        @extend .d-block;
        @extend .w-100;
        @extend .my-4;
      }
      &__marker {
        @extend .progress-marker;
		  @extend .p-0;
        z-index: 0;
      }
    }
    .progress-step.is-active .progress-marker {
      background-color: $light;
      color: $dark;
    }
    .progress-step.is-complete .progress-marker {
      background-color: $superlight;
      color: $gray;
    }
    .progress-step .progress-marker {
      background-color: $superlight;
      color: $gray;
    }
    .progress-tracker--vertical .progress-step::after,
    .progress-tracker--vertical .progress__step::after {
      width: 2px;
    }

    .progress-step.is-complete .progress-marker:before {
      @extend .fas;
	  @include font-size($font-size-sm);
      content: "\f00c";
		
    }
    .progress-marker:before,
    .progress-step.is-active .progress-marker:before {
      @extend .fas;
	  @include font-size(.5rem);
      content: "\f111";
    }

    .progress-step::after {
      background-color: $light;
    }
    .progress-step.is-complete::after {
      background-color: $light;
    }
    .progress-tracker--vertical .progress-text,
    .progress-tracker--vertical .progress__text {
      padding-top: 0px;
    }
    .progress-tracker--vertical .progress-step:not(:last-child) .progress-text,
    .progress-tracker--vertical .progress__step:not(:last-child) .progress-text,
    .progress-tracker--vertical .progress-step:not(:last-child) .progress__text,
    .progress-tracker--vertical
      .progress__step:not(:last-child)
      .progress__text {
      padding-bottom: 20px;
    }
  }
}
.filter {
  &__title {
    @extend .mt-4;
    color: $gray !important;
    text-transform: uppercase;
  }
  .form {
    &__group {
      @extend .col-12;
      @extend .px-0;
      @extend .py-4;
    }
    legend {
      @extend .font-weight-bold;
      @extend .text-dark;
      @extend .pt-4;
		@include font-size($font-size-base);
      a {
        @extend .d-flex;
        @extend .align-items-center;
        &:after {
          @extend .fas;
          @extend .ml-auto;
          content: "\f077";
        }
        &[aria-expanded="false"]:after {
          content: "\f078";
        }
        &[aria-expanded="true"]:after {
          content: "\f077";
        }
      }
    }
    &__checkbox {
      &-label {
        @extend .font-weight-normal;
      }
      &-group {
        @extend .py-2;
      }
    }
  }
}
.results {
  &__plan {
    @extend .card;
    @extend .mb-4;
    &-section {
      @extend .p-4;
      @extend .border-bottom;
      @extend .border-light;
    }
    &-name {
      text-align: center;
		@include font-size(1rem);

      @include mq(md) {
        text-align: left;
      }
    }
    &-premium {
      @extend .ml-auto;
      @extend .text-center;
    }
    .icon--star {
      @extend .p-2;
    }
    &-price {
@include font-size(3rem);
      @extend .font-weight-bold;
      @extend .text-dark;
      line-height: 28px;
      & sup:after {
        clear: none !important;
        content: none;
      }
    }
    &-fee {
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .mb-3;
      @extend .font-weight-normal;
	  @include font-size($font-size-base);
      color: $gray;
    }
    &-row {
      @extend .d-md-flex;
      @extend .align-items-center;
    }
    &-freq {
		@include font-size(2rem);
      color: $gray !important;
      @extend .font-weight-normal;
    }
    &-apply {
      @extend .btn;
      @extend .btn-primary;
	  @extend .btn-lg;
    }
    &-carrier {
      @extend .mr-auto;
      @extend .text-center;
      @extend .py-4;
      @include mq(md) {
        text-align: left !important;
      }
    }
    &-download {
      @extend .d-block;
      @extend .py-2;
      &:before {
        @extend .fas;
        @extend .fa-file-pdf;
        @extend .pr-2;
      }
    }
    &-logo {
      @extend .w-100;
      @extend .py-3;
      max-width: 200px;
    }
    &-details {
      @extend .d-md-flex;
      @extend .text-center;
      @extend .flex-wrap;
      @extend .mb-0;
      .icon {
       
      }
      li {
        @extend .p-0;
        @include mq(md) {
          padding-right: 3rem !important;
        }
      }

      @include mq(md) {
        text-align: left !important;
      }
      &--expanded {
        li {
          @extend .d-md-flex;
          @extend .text-center;
          @extend .row;
          @extend .align-items-center;
          @extend .py-2;
          @extend .border-top;
          @extend .border-light;
          transition: background-color 0.3s;
          &:hover {
            background-color: $superlight;
          }
          div {
            @extend .col-md;
            @extend .justify-content-center;
          }
          @include mq(md) {
            text-align: left !important;
          }
        }
      }
    }
    &-rating {
      @extend .font-weight-bold;
      @extend .mr-1;
    }
    &-info {
      @extend .d-md-flex;
      @extend .align-items-center;
    }
    &-label {
      @extend .font-weight-bold;
      @extend .text-dark;
      @extend .d-block;
    }
    &-toggle {
      @extend .pt-3;
      &:after {
        @extend .fas;
        content: "\f078";
        @extend .ml-auto;
      }
      &[aria-expanded="true"]:after {
        content: "\f077";
      }
    }
    &-compare {
      @extend .pt-3;
      @extend .ml-auto;
      @extend .text-center;
      @include mq(md) {
        text-align: left !important;
      }
    }
    &-footer {
      @extend .d-flex;
      @extend .flex-wrap;
      @extend .align-items-center;
      @extend .text-center;

      @include mq(md) {
        text-align: left !important;
      }
    }
    &.is-popular {
      @extend .border;
      border-top-left-radius: 0 !important;
      border-color: $brand !important;
    }
  }
  &__tags {
    @extend .d-flex;
    overflow-x: scroll;
  }
  &__tag {
    @extend .px-3;
    @extend .py-1;
    @extend .text-white;
    @extend .text-center;
    @extend .font-weight-bold;
    @extend .mr-3;
	@include font-size(0.8rem);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    max-width: 120px;
    &.is-popular {
      background-color: $brand !important;
    }
    &.is-online {
      @extend .bg-info;
    }
  }
}
.apply {
  &__form {
    @extend .card;
  }
  .form {
    &__section {
      &-title {
        @extend .mb-2;
      }
    }
    &__radio {
      &-fieldset {
       
      }
      &-legend {
        color: $gray !important;
      }
    }
    &__submit {
      &-wrapper {
        @extend .d-flex;
        @extend .align-items-center;
      }
    }
	  	&__disclaimer {
		@extend .pt-4;
		@extend .text-center;
		p {		
		font-size:12px;
		@extend .font-weight-bold;}
	}
  }
  &__success,
  &__fail {
    @extend .card;
    @extend .text-center;
    &-section {
      @extend .form__section;
      @extend .p-5;
    }
    .icon {
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      @extend .p-5;
      @extend .mx-auto;
	  @extend .mb-3;
	  @include font-size($h1-font-size);
      width: 5rem;
      height: 5rem;	
    }
  }
	&__success{
		.icon{
		background: lighten($success, 45%);
      color: $success;
		}
	}
	&__fail{
		.icon{
	background: lighten($danger, 30%);
      color: $danger;
		}

	}
}
.comparison {
  @extend .text-center;
  @extend .col-md-12;

  &__plan {
    @extend .flex-fill;
    @extend .bg-white;
    @extend .font-weight-bold;
    @extend .text-dark;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .border-light;
    @extend .border;
    @extend .py-4;
    flex-basis: 33% !important;
    min-width: 0;
    height: 100%;
    &-inner {
      min-width: 0;
      flex-basis: 90%;
    }

    &-name {
      @extend .results__plan-name;
      @extend .d-block;
      @extend .text-center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-logo {
      @extend .results__plan-logo;
      max-height: 50px;
    }
    &-rating {
      @extend .results__plan-rating;
    }
    .icon--star {
      @extend .p-2;
    }
  }
  &__no-plan {
    @extend .comparison__plan;
    background: $superlight !important;
    @extend .border-0;
  }
  &__header {
    top: 0px;
    background: $superlight;
    @extend .d-flex;
    @extend .flex-wrap;
    @include mq(lg) {
      top: 85px;
      flex-wrap: nowrap !important;
    }
    @include mq(md) {
      top: 81px;
      position: -webkit-sticky;
      position: sticky;
    }
    &-inner {
      @extend .d-flex;
      @extend .flex-fill;
      @extend .align-items-center;
      overflow: hidden;
    }
  }
  &__hero {
    @extend .text-left;
    @extend .w-100;
    @extend .pr-4;
    @extend .pb-4;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .border-bottom;
    @extend .border-light;
    &-form {
      @extend .py-4;
    }
    @include mq(lg) {
      flex-basis: 280px;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  &__price {

    @extend .results__plan-price;
    @extend .my-3;
    &-freq {
      @extend .results__plan-freq;
    }
  }
  &__fee {
    @extend .results__plan-fee;
  }
  &__apply {
    @extend .btn;
    @extend .btn-primary;

    &-now {
      @extend .d-none;
      @include mq(lg) {
        display: inline !important;
      }
    }
  }
  &__add {
    @extend .btn;
    @extend .btn-secondary;
    &-wrapper {
      @extend .mt-3;
    }
  }
  &__row {
    @extend .d-flex;
    @extend .flex-wrap;

    @include mq(lg) {
      flex-wrap: nowrap !important;
    }
    &-inner {
      @extend .d-flex;
      @extend .flex-fill;
    }
    &-header {
      @extend .d-flex;
      @extend .text-left;
      @extend .align-items-center;
      @extend .w-100;
      @extend .pr-4;
      @extend .py-4;
      @extend .border-bottom;
      @extend .border-light;
      @include mq(lg) {
        flex-basis: 280px;
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
  }

  &__detail {
    @extend .flex-fill;
    @extend .bg-white;

    @extend .border-light;
    @extend .border;
    @extend .py-4;
  }
}

.comparebar {
  @extend .w-100;
  @extend .pt-3;
  @extend .pb-5;
  @extend .border-top;
  @extend .border-light;
  @extend .bg-white;
  z-index: 5;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  &__inner {
    @extend .container;
    @extend .d-flex;
  }
  &__row {
    @extend .d-flex;
    @extend .flex-fill;
    @extend .align-items-center;
    overflow: hidden;
  }
	&__aside{
		@extend .col-md-3;
		@extend .p-0;
		h4{
		 @include font-size($h5-font-size);
		}
	}
  &__button {
    @extend .btn;
    @extend .btn-secondary;

    &-wrapper {
      @extend .pt-2;
      @extend .mb-4;
    }
  }
  &__no-plan {
    @extend .comparison__plan;
    background-color: $superlight !important;
    @extend .mx-2;
	  &:last-of-type{
		  @extend .mr-0
	  }
  }
  &__plan {
    @extend .comparison__plan;
    @extend .text-center;
    @extend .mx-2;
    overflow-x: hidden;
	  &:last-of-type{
		  @extend .mr-0
	  }
    &-inner {
      @extend .comparison__plan-inner;
    }
    &-top {
      @extend .d-flex;
      @extend .align-items-center;
    }
    &-remove {
      @extend .text-danger;
      @extend .fas;
      @extend .fa-times-circle;
    }
    &-name {
      @extend .comparison__plan-name;
      @extend .text-center;
      @extend .mr-auto;
    }
    &-logo {
      @extend .comparison__plan-logo;
    }
  }

  &__price {
    @extend .mt-0;
    @extend .mb-0;
    @extend .results__plan-price;
	@include font-size($font-size-base);
    &-freq {
      @extend .comparison__price-freq;
		@include font-size($font-size-base);
    }
  }
}
.review {
  &__title {
  }
  &__details {
    @extend .border-bottom;
    @extend .border-light;
    @extend .py-4;
    &-label {
      @extend .font-weight-bold;
      @extend .text-dark;
      @extend .d-block;
    }
  }
  &__summary {
    @extend .border-bottom;
    @extend .border-light;
    @extend .py-4;
    &-row {
      @extend .d-flex;
      @extend .align-items-center;
      @extend .py-2;
    }
    &-label {
      @extend .mr-auto;
    }
    &-value {
      @extend .ml-auto;
      @extend .font-weight-bold;
      @extend .text-dark;
    }
  }
  &__total {
    @extend .py-4;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .py-4;
    &-label {
      @extend .mr-auto;
      @extend .font-weight-bold;
      @extend .text-dark;
		@include font-size($h3-font-size);

    }
    &-value {
      @extend .ml-auto;
      @extend .font-weight-bold;
      @extend .text-dark;
		@include font-size($h3-font-size);
    }
  }
}

.footer {
  &__row {
    @extend .align-items-center;
  }
  &__column {
    &-1 {
      @extend .col-md;
      @extend .my-3;
      @include mq(md) {
        text-align: left;
      }
    }
    &-2 {
      @extend .col-md;
      @extend .d-md-flex;
      @extend .flex-column;
      @extend .my-3;
    }
  }
  &__logo {
    @extend .mx-auto;
    @extend .mb-2;
    @include mq(md) {
      margin-left: auto !important;
      margin-right: 0 !important;
      display: flex !important;
    }
  }

  &__terms {
    @extend .d-block;
    @extend .mx-auto;

    @include mq(md) {
      margin-left: auto !important;
      margin-right: 0 !important;
      display: flex !important;
    }
  }
}

.tooltip {
  &-inner {
    min-width: 200px;
    @extend .p-3;
    @extend .text-left;
    @include mq(md) {
      min-width: 300px;
    }
  }
}
.question{
	@extend .fas;
	@extend .fa-question-circle;
}
.disclaimer {
  @extend .py-3;

  * {
    font-size: 12px !important;
  }
  ul {
    list-style: initial;
  }
  ol {
    list-style: decimal;
  }
  ul,
  ol {
    @extend .ml-4;
  }
  &__wrapper {
    @extend .col-md-12;
    @extend .pt-5;
	  @extend .order-3;
  }

  &__form {
    @extend .card;
    @extend .mt-5;
  }
}

