// ==========================================================================
// Footer
// ==========================================================================
.footer {
  @extend .bg-white;
  @extend .border-top;
  @extend .border-light;
	overflow-x: hidden;

  &__inner {
    @extend .container;
  }
  &__row {
    @extend .d-lg-flex;
    @extend .py-5;
    @extend .row;
    @extend .text-center;

    @include mq(lg) {
      text-align: left !important;
    }
  }
  &__logo {
    @extend .navbar-brand;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
	    max-width:240px;
    @include mq(lg) {
      justify-content: flex-start !important;
    }
    	
    img {
      max-width: 100%;
height: auto;
width: 100%;
width: auto\9;
    }
  }
  a {
  }
  &__copyright {
    @extend .border-top;
    @extend .border-light;
    @extend .pt-4;
    padding-bottom: 8em;
    @extend .text-center;
    &-row {
      @extend .d-lg-flex;
      @extend .align-items-center;
      @extend .justify-content-center;
      @include mq(lg) {
        justify-content: space-between !important;
        text-align: left !important;
      }
	
    }
  }
		&__terms{
		  @extend .list-inline;
			 
		  li{
			  @extend .list-inline-item;
			   &:not(:first-child){
				  @extend .pl-4;
			  }
		  }
	  }
  &__address {
    @extend .py-3;
  }
  &__phone {
    @extend .font-weight-bold;
    @extend .py-3;
	@include font-size($h4-font-size);
    .icon {
		@include font-size($font-size-base);
		@extend .p-3;
    }
  }
  &__hours {
	  h4{
		  @include font-size($h5-font-size);
	  }
  }
  &__social {
	  ul{
    @extend .nav;
    @extend .py-5;
    @extend .justify-content-center;
	@extend .list-inline;
    li {
    @extend .px-3;
	@extend .list-inline-item;
		
		a{
			@extend .fab;
			&.facebook{
				@extend .fa-facebook-f;
			}
			&.twitter{
				@extend .fa-twitter;
			}
			&.instagram{
				@extend .fa-instagram;
			}
		}
		@include mq(lg) {
			padding-left: 0 !important;
      }
    }
    @include mq(lg) {
      justify-content: flex-start !important;
    }
	}
  }
  &__nav {
    &-group {
      @extend .border;
      @extend .border-light;
      @extend .my-1;

      @include mq(lg) {
        border: 0 !important;
      }
      ul {
		  @extend .mb-0;
        line-height: 2em;
		 
		  li{
			  @extend .border-top;
      @extend .border-light;
			  
			  @include mq(lg) {
        border: 0 !important;
		padding: 0 !important;
      }
			  a{
				  @extend .py-4;
				  display: block;
				  @include mq(lg) {
        display: initial !important;
      }
			  }
		  }
      }
    }
    &-header {
      @extend .d-flex;
      @extend .align-items-center;
		@extend .justify-content-between;
      text-decoration: none !important;
      cursor: pointer !important;
      position: relative;
      @extend .p-5;
      @extend .d-block;
		h4{
			@extend .mx-auto;
			 flex: 0 1 auto;
			 position: absolute; 
      left: 50%;
      transform: translateX(-50%);
			 @include mq(lg) {
				 left:0 !important;
				 transform:none!important;
      }
		}
      &:after {
        @extend .fas;
		@include font-size(1.4);
        content: "\f078";
        @extend .ml-auto;
		  @include mq(lg) {
        content:"";
      }
      }
      &[aria-expanded="true"]:after {
        content: "\f077";
		    @include mq(lg) {
        content:"";
      }
      }
      @include mq(lg) {
        cursor: default !important;
        background-color: transparent !important;
      }
      h4 {
        @include font-size(1.6);
        text-transform: uppercase;
      }
    }
    &-link {
      @extend .accordion__header-link;
    }
    ul {
      li {
        @extend .pl-3;
        display: inline-block;
      }
    }
  }
}

