// ==========================================================================
// Header
// ==========================================================================
.header {
	 z-index: 5;

top: 0px;
	@include mq(sm) {
      position: -webkit-sticky;
      position: sticky;
    }
  &__inner {
    @extend .container;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .flex-nowrap;
  }
  &__nav {
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .navbar-light;
    @extend .bg-white;
    @extend .border-bottom;
    @extend .border-light;
    @extend .py-0;
  }
  &__logo {
    @extend .navbar-brand;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .py-2;
	  max-width:180px;
    img {
      max-width: 100%;
height: auto;
width: 100%;
width: auto\9;
    }
  }
  &__toggle {
    @extend .navbar-toggler;
    @extend .ml-auto;
    @extend .text-dark;
    @extend .border-0;
    &-icon {
      @extend .fas;
      @extend .fa-bars;
    }
  }
  &__menu {
    @extend .mr-auto;
    @extend .navbar-nav;
    &-mobile {
      @extend .align-items-center;
      @extend .d-flex;
      margin-left: auto;
      margin-right: 0;
      @include mq(lg) {
        margin-right: auto;
        margin-left: 0;
      }
    }
	  &-right{
			@extend .ml-auto;
		}
    &-phone {
      @extend .nav-link;
      text-transform: uppercase;
      @extend .font-weight-bold;
      @extend .pl-2;
	  @extend .pr-0;
      @extend .py-2;
      @extend .d-flex;
      @extend .align-items-center;
      .icon {
		  @include font-size($font-size-base);
      }
      &-number {
        @extend .ml-2;
        @extend .d-lg-block;
        @extend .d-none;
		@include font-size($h4-font-size);
      }
    }
    &-item {
      @extend .nav-item;
      a {

      }
      &:hover {
        background-color: #f8f9fa;
      }
    }
    &-link {
      @extend .nav-link;
      text-transform: uppercase;
      @extend .font-weight-bold;
      @extend .text-dark;
      @extend .px-4;
      @extend .py-5;
    }
  }
  .navbar-collapse {
    @extend .flex-grow-0;
  }
  .dropdown-menu {
    @extend .mt-0;
  }
  .dropdown-item {
    @extend .mt-0;
  }
  .dropdown-item:active {
    background-color: $secondary;
    color: $white !important;
  }
  .mega-dropdown {
    position: static !important;
  }
  .mega-dropdown-menu {
    padding: 20px 0px 20px 120px;
    width: 100%;
    @extend .border-light;
    box-shadow: 0px 20px 80px rgba(60, 64, 92, 0.1);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    visibility: hidden;
    opacity: 0;
    display: block;
    .dropdown-item {
      @extend .py-3;
    }
  }
  .show .mega-dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    transition-delay: 0.2s;
  }
}
.sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100%;
	z-index: 1020;
}
