// ==========================================================================
// Side-menu
// ==========================================================================

.side-menu {
     display:none;
     position:fixed;
     width:300px;
     top:0;
     right:-300px;
     height:100%;
     overflow-y:auto;
     z-index:1035;
     background:#fff;
     padding:20px 30px;
     color:#333;
     transition:0.4s;
     box-shadow: 0px 20px 40px rgba(60, 64, 92, 0.1);
     &.side-menu-left {
         right: auto;
         left: -300px;
    }
     .dropdown-menu {
         @extend .border-0;
         @extend .mt-0;
         @extend .pl-0;
         position: static !important;
         transform: none !important;
    }
     .dropdown-item{
         @extend .nav-link;
    }
     .contents {
         margin-top:35px;
    }
     .nav-link {
         @extend .px-3;
         @extend .py-4;
    }
     .close {
         font-size:36px;
         font-weight:normal;
    }
     .mega-dropdown-menu {
         @extend .py-1;
         box-shadow: none;
    }
}
 body.side-menu-visible .side-menu {
     transform:translateX(-300px);
}
 body.side-menu-visible .side-menu.side-menu-left {
     transform:translateX(300px);
}
 .side-menu-overlay {
     position:fixed;
     left:0;
     top:0;
     min-width:100%;
     height:100%;
     background:rgba(0,0,0,0.4);
     z-index:100;
     display:none;
}