// ==========================================================================
// Accordion
// ==========================================================================

.accordion{
	&__header{
		@extend .card-header;
		@extend .bg-white;
		@extend .border-light;
		@extend .p-0;
		&-link{
			@extend .btn;
			@extend .btn-link;
			@extend .text-left;
			@extend .text-dark;
			@extend .w-100;
			@extend .d-flex;
			@extend .p-3;
			@extend .align-items-center;
			@include font-size(1.8);
			text-decoration: none !important;
			&:after{
				content: "\f106";
				font-family: 'Font Awesome 5 Pro';
				font-style: normal;
				@extend .ml-auto;
			}
			&.collapsed{
				&:after{
					content: "\f107";	
				}
			}
			&:hover{
				color:$secondary !important;
			}
		} 
	}
	&__body{
		@extend .card-body;
		@extend .p-5;
		@extend .border-bottom;
		@extend .border-light;
		@include font-size(1.8);
	}
}