// ==========================================================================
// Alert
// ==========================================================================

.alert{
	
	&--success{
		@extend .alert-success;
		.alert__inner{
					&:before{
			@extend .fa-check-circle;
		}
		}
	}
	&--warning{
		@extend .alert-warning;
		.alert__inner{
					&:before{
			@extend .fa-exclamation-circle;
		}
		}
	}
	&--danger{
		@extend .alert-danger;
		.alert__inner{
					&:before{
			@extend .fa-times-circle;
		}
		}
	}
	&--info{
		 @extend .alert-info;
			.alert__inner{
					&:before{
			@extend .fa-info-circle;
		}
		}
	}
	&--dismiss{
		@extend .alert-dismissible
	}
	
	h1, h2, h3, h4, h5 {
		color: inherit !important;
	}
	.close {
		@include font-size($h2-font-size);
	}
	&__wrapper{
		@extend .col-md-12;
		display:none;
		&.show{
		@extend .d-block;
	}
		.alert:last-of-type{
		@extend .mb-5;	
		}
	}
	&__inner{
		@extend .d-flex;
		@extend .align-items-center;
		&:before{
			font-family: 'Font Awesome 5 Pro';
			font-style: normal;
			@include font-size($h1-font-size);
			@extend .mr-3;
		}
	}
	&.fade, &__wrapper.fade {
    -webkit-transition: opacity 0.55s linear;
    -moz-transition: opacity 0.55s linear;
    -o-transition: opacity 0.55s linear;
    transition: opacity 0.55s linear;
}
	
}