// ==========================================================================
// Buttons
// ==========================================================================

.btn{
	@extend .font-weight-bold;
	@extend.text-white;
	border-radius: 2em;
	&:hover{
		@extend.text-white;
	}
}