// ==========================================================================
// Card
// ==========================================================================

.card{	
	box-shadow: 0px 20px 80px rgba(60, 64, 92, 0.1);
	@extend .border-light;
	&-body{
		@extend .p-5;
	}
}