// ==========================================================================
// Form
// ==========================================================================

.form {
  @extend .text-left;
  label {
    @extend .font-weight-bold;
    color: $dark;
  }
  &__row {
    @extend .form-row;

    & > [class$="--column"] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &__group {
    @extend .form-group;
    &--column {
      @extend .col-lg;
    }
  }
  &__wrapper {
    @extend .card;
    @extend .mt-5;
  }
  &__section {
    @extend .p-4;
    @extend .border-bottom;
    @extend .border-light;
    &-title {
      @extend .font-weight-normal;
    }
  }
  &__fieldset {
    @extend .py-4;
  }
  &__input {
    @extend .form-control;
	@include font-size($font-size-lg);
    &:focus {
      @extend .bg-white;
    }
  }
  &__select {
    @extend .custom-select;
	@include font-size($font-size-lg);
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  &__submit {
    @extend .btn;
    @extend .btn-primary;
    @extend .mx-auto;
    @extend .d-block;
	  @extend .btn-lg;
  }
  &__button {
    &--add {
      @extend .col-lg;
      @extend .my-3;
      button {
        @extend .btn;
        @extend .btn-secondary;
		  @extend .mb-2;
        &:before {
          @extend .fas;
          @extend .fa-plus-circle;
          @extend .mr-2;
        }
      }
    }
    &--remove {
      @extend .col-lg;
      @extend .align-self-end;
      margin-bottom: 1rem;
      padding-left: 5px;
      padding-right: 5px;
      button {
		
        @extend .btn;
        @extend .btn-danger;
        &:before {
          @extend .fas;
          @extend .fa-times-circle;
          @extend .mr-2;
        }
      }
    }
  }
  &__checkbox {
    &:checked ~ &-label::before {
      background-color: $brand !important;
	  border-color: $brand !important;
    }
    @extend .custom-control-input;
    &-group {
      @extend .custom-control;
      @extend .custom-checkbox;
      padding-left: 2rem;
    }
    &-label {
      @extend .custom-control-label;
      &:before,
      &:after {
        width: 1.4rem;
        height: 1.4rem;
        top: 0.2rem;
        left: -2rem;
      }
    }
  }
  &__radio {
    &:checked ~ &-label::before {
      background-color: $brand !important;
	  border-color: $brand !important;
    }
    @extend .custom-control-input;
    &-group {
      @extend .custom-control;
      @extend .custom-radio;
      padding-left: 2rem;
    }
    &-label {
      @extend .custom-control-label;
      &:before,
      &:after {
        width: 1.4rem;
        height: 1.4rem;
        top: 0.2rem;
        left: -2rem;
      }
    }
    &-legend {
      @extend .col-form-label;
      @extend .col-form-label-lg;
      @extend .text-dark;
    }
  }
  &__button-label {
    @extend .mr-3;
    @extend .form-check-inline;
    & > input + .form__button {
      @extend .btn;
	  @extend .btn-lg;
      @extend .btn-outline-secondary;
     
      @extend .font-weight-bold;
    }
    & > input:hover + .form__button {
      @extend .btn-outline-secondary;
    }
    & > input:checked + .form__button {
      @extend .btn-secondary;
      @extend .text-white;
    }
    & > input:checked:hover + .form__button {
      @extend .btn-secondary;
      @extend .text-white;
    }
    & > input:not(:checked) + .form__button {
      @extend .text-secondary;
    }
    & > input:not(:checked):hover + .form__button {
      @extend .text-white;
      @extend .btn-secondary;
    }
  }
  .is-invalid {
    input:not(:checked) + .form__button {
      @extend .btn-outline-danger;
      @extend .text-danger;
    }
    input:not(:checked):hover + .form__button {
      @extend .text-white;
      @extend .btn-secondary;
    }
  }
}

  .is-invalid .invalid-feedback {
    @extend .d-block;
  }
  fieldset.is-valid,
  fieldset.is-invalid {
    background-color: transparent !important;
  }

  .is-valid {
    background-color: transparentize($success, 0.9) !important;
  }
  .is-invalid {
    background-color: transparentize($error, 0.9) !important;
  }
  .valid-feedback,
  .invalid-feedback {
    @extend .font-weight-normal;
	@include font-size($font-size-lg);
  }
  .valid-feedback {
    &:before {
      @extend .fas;
      @extend .fa-check-circle;
    }
  }
  .invalid-feedback {
    &:before {
      @extend .fas;
      @extend .fa-times-circle;
    }
  }

.loading-feedback {
	@extend .mb-0;
li{
	color:$brand;
    @extend .font-weight-normal;
	  @extend .d-block;
	  &:before {
      @extend .fas;
      @extend .fa-spinner-third;
	  @extend .fa-spin;
	  @extend .mr-2;
    }
	}
}
.parsley-success {
	@extend .is-valid;
}
.parsley-error {
	@extend .is-invalid;
	
}
.parsley-errors-list li{
	@extend .invalid-feedback;

    @extend .font-weight-normal;
	  @extend .d-block;
	  &:before {
      @extend .fas;
      @extend .fa-times-circle;
	  @extend .mr-2;
    }
}

.parsley-error {
    input:not(:checked) + .form__button {
      @extend .btn-outline-danger;
      @extend .text-danger;
    }
    input:not(:checked):hover + .form__button {
      @extend .text-white;
      @extend .btn-secondary;
    }
  }
  fieldset.parsley-error {
    background-color: transparent !important;
  }
