// ==========================================================================
// Icons
// ==========================================================================
.icon {
	@extend .p-3;
	@extend .rounded-circle;
	@extend .font-weight-bold;
	background: lighten($brand,45%);
	color: $brand;
	&--phone{
		@extend .fas;
		@extend .fa-phone;
		@extend .fa-rotate-90;
	}
	&--quote-right{
		@extend .fas;
		@extend .fa-quote-right;
	}
	&--star{
		@extend .fas;
		@extend .fa-star;
	}
	&--check{
		@extend .fas;
		@extend .fa-check;
	}
	&--times{
		@extend .fas;
		@extend .fa-times;
	}
	
	&--yellow{
		background: lighten($yellow, 30%) !important;
	color: $yellow !important;
	}
}