// ==========================================================================
// Modal
// ==========================================================================

.modal{
	.close{
		 @include font-size($h2-font-size);
	}
	&-header{
		@extend .border-0;
		@extend .pt-0;
	}
	&-content{
		@extend .p-4;
	}
	&-footer{
		@extend .justify-content-start;
		@extend .border-0;
	}
}