// ==========================================================================
// Progress
// ==========================================================================
.progress{
	&__tracker{
		@extend .progress-tracker;
		@extend .my-2;
	}
	&__step{
		@extend .progress-step;
	}
	&__marker{
		@extend .progress-marker;
	}
	&__text{
		@extend .progress-text;
	}
	&__title{
		@extend .progress-title;
	}
}
