// ==========================================================================
// Search
// ==========================================================================
.search{
     position: fixed;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
     background-color: rgba(255, 255, 255, 0.95);
     @extend .d-flex;
     visibility: hidden;
     opacity: 0;
     -webkit-transform: translateY(1rem);
     transform: translateY(1rem);
     transition: transform 0.3s ease, opacity 0.3s ease;
     &.open{
         opacity: 1;
         visibility: visible;
         -webkit-transform: translateY(0);
         transform: translateY(0);
		 z-index: 9999;
         @extend .align-items-center;
         @extend .justify-content-center;
    }
     &__icon{
         @extend .fas;
         @extend .fa-search;
         @include font-size(2.4);
         @extend .text-dark;
    }
     input[type="search"] {
         @include font-size(3.6);
         @extend .w-100;
         text-align: center;
		 background: transparent;
         border: 0px;
         outline: none;
         @include mq(sm){
             @include font-size(6.0);
        }
    }
     button {
         @include font-size(2.4);
         @extend .mx-auto;
         @extend .mt-3;
         @extend .d-block;
    }
     .close {
         position: fixed;
         top: 15px;
         right: 15px;
         opacity: 1;
         padding: 10px 17px;
         @include font-size(4.8);
    }
}