// ==========================================================================
// Spinner
// ==========================================================================
.spinner {
  @extend .h-100;
  @extend .w-100;
  max-height: 20rem;
  max-width: 15rem;
  background: url("../images/ui/eLoader.gif");
  background-repeat: no-repeat;
  background-size: contain;

  &__overlay {
    @extend .justify-content-center;
    @extend .align-items-center;
	 @extend .flex-column;
    @extend .px-3;
    height: 100vh;
    background: rgba(255, 255, 255, 0.87);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
  }
}

