// ==========================================================================
// Tables
// ==========================================================================

.table {
  @include font-size(1.8);
  th {
    @extend .text-dark;
  }
  thead th {
    @extend .border-top-0;
    @extend .border-bottom-0;
    &:last-child {
      @extend .border-right-0;
    }
  }
  tr th {
    @extend .border-left-0;
  }
  tr td {
    &:last-child {
      @extend .border-right-0;
    }
  }
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px #ddd solid;
}
table {
  margin: 20px 0;
}
td,
th {
  padding: 10px;
}

